body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/image/inscription.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.wrapper {
    background-color: rgb(255, 255, 255,0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 180px;
    margin-left: 430px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
    margin: 0 5px;
}

.tab.active {
    background-color: #ede7e7;
    font-weight: bold;
}

.form-container {
    display: none;
}

.form-container.active {
    display: block;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #e9e5e5;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #56a119;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218414;
}

p {
    margin-top: 15px;
    color: #595858;
}